@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,300,700');

*{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-width:1300px;
    width: auto !important;
}

.container {
    min-height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    /* filter: blur(2px);
    pointer-events: none;
    user-select: none; */
}
.container#blur.active {
    filter: blur(2px);
    pointer-events: none;
    user-select: none;
}

.top_navbar{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 60px;
    position: absolute;
    vertical-align: top;
    left: 0;
    top: 0;
    transition: opacity 0.5s ease;
    /* background-color: #5c666b; */
}

.top_navbar .top_navbar_ctn {
    width: 100%;
    height: 80px;
    line-height: 80px;
    display: inline-flex;
    align-items: center;
}

.top_navbar_ctn .top-left {
    display: inline-flex;
    width: 270px;
    height: 80px;
}

.top_navbar_ctn .top-left .top-left-ctn {
    display: inline-flex;
    height: 100%;
    line-height: 100%;
    width: 300px;
    justify-content: center;
}

.top-left .top-left-ctn .home-icon {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    width: 70px;
}

.top-left .top-left-ctn .home-icon a {
    display: flex;
    align-items: center;
    height: 80px;
}

.top-left .top-left-ctn .home {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    width: 200px;
    text-align: center;
    padding-left: 10px;
}

.top-left-ctn .home .home-link {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.top_navbar_ctn .menu {
    display: inline-flex;
    right: 0px;
    position: absolute;
    width: 40%;
    height: 80px;
}

.top_navbar_ctn .menu .menu-ctn {
    display: inline-flex;
    height: 100%;
    line-height: 100%;
    right: 0;
    position: absolute;
    padding-right: 60px;
}

.menu .menu-ctn .menu-vote-ctn,
.menu .menu-ctn .menu-list-ctn,
.menu .menu-ctn .menu-login-ctn {
    height: 80px;
    line-height: 80px;
    min-width: 145px;
    display: inline-flex;
}

.menu .menu-ctn .menu-login-ctn {
    width: 200px;
    flex-direction: column;
}

.menu .menu-ctn .menu-login-main {
    padding: 15px 0;
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.menu .menu-ctn .menu-login-main .menu-login-btn {
    display: inline-block;
    width: 100%;
    background-color:rgb(61,58,185);
    height: 50px;
    line-height: 50px;
    flex-shrink: 0;
    pointer-events: auto;
}

.menu .menu-ctn .menu-login-main .menu-login-arrow {
    display: none;
}

.menu .menu-ctn .menu-login-main .menu-login-arrow.active {
    display: inline-block;
    position: relative;
    right: 35px;
    font-size: 17px;
    height: 50px;
    line-height: 50px;
    z-index: 1;
    color: #fff;
    cursor: pointer;
}

.menu-login-arrow #login-arrow-down,
.menu-login-arrow #login-arrow-up {
    display: none;
}

.menu-login-arrow #login-arrow-down.active,
.menu-login-arrow #login-arrow-up.active {
    display: inline-block;
}

.top_navbar a {
    font-size: 30px;
    color: #000;
    text-decoration: none;
}

.top_navbar .item {
    padding-right: 15px;
}

.top_navbar .item:active, .top_navbar .item:hover {
    color: #0c7db1;
    text-decoration: none;
}

.menu .menu-ctn .menu-login-main .login_button {
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    font-size: 20px;
    display: inline-block;
    width: 100%;
}
.top_navbar .login_button:active{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
.top_navbar .login_button:hover {
    background-color: rgb(10, 12, 146) !important;
}

.menu .menu-ctn .menu-user {
    display: none;
}

.menu .menu-ctn .menu-user.active {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: inline-flex;
    position: relative;
    top: -15px;
}

.menu .menu-ctn .menu-user .menu-user-ctn {
    display: inline-block;
    width: 100%;
    z-index: 1;
    padding: 0 20px;
    text-align:center;
    background-color:rgb(61,58,185);
    border-top: 2px solid rgb(201, 192, 192);
    cursor: pointer;
}

.menu-user-ctn .user-icon,
.menu-user-ctn .user-logout {
    display: inline-block;
    font-size: 20px;
    color: #fff;
}

.wrapper {
    width: 100%;
    height: calc(100% - 150px);
    display: block;
    font-size: 28px;
    position: relative;
    transition: all 0.5s ease;
    margin-top: 150px;
    /* background-color: #0c7db1; */
}

.content {
    width: 100%;
    height: calc(100% - 150px);
    display: block;
}

.content .content_head {
    /* background-image: url("vote_bg.jpeg"); */
    background: linear-gradient(#e66465, #9198e5);
    text-align: center;
    display: block;
    height: 200px;
    color: #fff;
}

.content .content_head h2 {
    font-size: 40px;
    height: 200px;
    line-height: 200px;
    margin: 0;
}

.content .main {
    font-size: 20px;
    margin: 30px 4%;
    display: block;
    height: calc(100% - 200px);
}

.main .explore {
    height: 50px;
    width: 100%;
    display: inline-flex;
}

.main .explore-left {
    height: 50px;
    width: 100%;
    display: inline-flex;
    float: left;
}

.main .explore-left h3 {
    font-size: 40px;
    font-weight: 600;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 0;
}

.main .explore-right {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    width: 220px;
    flex-shrink: 0;
    text-align: right;
}

.main .explore-right .modify_tip {
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: right;
    width: 200px;
}

.main .explore-main {
    font-size: 15px;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
}

.main .main_container{
    padding-top: 20px;
    width: 100%;
}

.main .main_container .main_header,
.main .main_container .main_content {
    display: flex;
    width: 100%;
}

.main .main_container .main_content {
    flex-direction: column;
}

.main .main_header .main_header_col1,
.main .main_content .main_content_col1 {
    display: inline-flex;
    width: 31%;
}

.main .main_header .main_header_col2,
.main .main_content .main_content_col2 {
    display: inline-flex;
    width: 50%;
}

.main .main_header .main_header_col3,
.main .main_content .main_content_col3 {
    display: inline-flex;
    width: 19%;
}

.main_header h6{
    font-size: 15px;
}

.main .main_header .main_header_col1 .pair,
.main .main_content .main_content_col1 .pair {
    display: inline-flex;
    width: 100%;
}

.main .main_header .main_header_col2 .lock,
.main .main_content .main_content_col2 .lock {
    display: inline-flex;
    width: 24%;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.main .main_header .main_header_col2 .lp,
.main .main_content .main_content_col2 .lp {
    display: inline-flex;
    width: 27%;
    text-align: center;
    justify-content: center;
}

.main .main_header .main_header_col2 .mvote,
.main .main_content .main_content_col2 .mvote {
    display: inline-flex;
    width: 31%;
    text-align: center;
    justify-content: center;
}

.main .main_header .main_header_col2 .your,
.main .main_content .main_content_col2 .your {
    display: inline-flex;
    width: 18%;
    text-align: center;
    justify-content: center;
}

.main .main_header .main_header_col3 .burn,
.main .main_content .main_content_col3 .burn {
    display: inline-flex;
    width: 65%;
    text-align: center;
    justify-content: center;
}

.main .main_header .main_header_col3 .reward,
.main .main_content .main_content_col3 .reward {
    display: inline-flex;
    width: 35%;
    text-align: center;
    justify-content: center;
}

.main .main_container .main_XLM_MVOTE,
.main .main_container .main_MVOTE_USDC,
.main .main_container .main_MVOTE_yXLM,
.main .main_container .main_AQUA_MVOTE,
.main .main_container .main_LSP_MVOTE,
.main .main_container .main_MVOTE_PYBC,
.main .main_container .main_BTC_MVOTE,
.main .main_container .main_ETH_MVOTE {
    display: flex;
    text-align: left;
    width: 100%;
    padding: 10px 0;
    height: 80px;
}

.main .main_content .pair {
    height: 60px;
}

.main .main_content .pair .pair_content {
    display: flex;
    width: 100%;
}

.main .main_content .pair .pair_content .pair_image {
    display: flex;
    width: 60px;
    line-height: 60px;
    height: 60px;
}

.pair_content .pair_image .xlm_img {
    z-index: 1;
    position: relative;
    width: 30px;
    float: left;
    display: flex;
    align-items: center;
}

.pair_content .pair_image .mvote_img {
    z-index: 0;
    box-sizing: content-box;
    position: relative;
    left: -5px;
    width: 30px;
    float: left;
    display: flex;
    align-items: center;
}

img[alt*="logo"] {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
 }

.main .main_content .pair .pair_content .pair_descr {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding-left: 20px;
}

.pair_content .pair_descr .pair_descr_curr {
    display: flex; 
    font-size: 19px;
    height: 50%;
    align-items: center;
    padding-top: 10px;
}

.pair_content .pair_descr .pair_descr_curr .curr_content {
    display: inline-flex;
    width: 120px;
}

.pair_content .pair_descr .pair_descr_curr .curr_tag {
    font-size: 12px;
    background-color: #92addd;
    padding: 0 5px;
    margin-left: 5px;
    border-radius: 5px;
    color: #fff;
    display: inline-flex;
    align-items: center;    
}

.pair_content .pair_descr .pair_descr_page {
    display: inline-block; 
    font-size: 12px;
    line-height: 20px;
    padding-top: 5px;
    height: 50%
}

.pair_content .pair_descr .pair_descr_page a {
    color: #000;
}

.pair_content .pair_descr .pair_descr_page a:visited {
    color: #000;
}

.main .main_content .lock .lock_ctn,
.main .main_content .lp .lp_ctn,
.main .main_content .mvote .mvote_ctn,
.main .main_content .your .your_ctn,
.main .main_content .burn .burn_ctn,
.main .main_content .reward .reward_ctn {
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.main .main_content .lock .lock_num,
.main .main_content .lp .lp_num,
.main .main_content .mvote .mvote_num,
.main .main_content .your .your_num {
    font-size: 18px;
    font-weight: 400;
    height: 100%;
    display: inline-block;
    text-align: center;
}

.main .main_content .lock .lock_num,
.main .main_content .lp .lp_num,
.main .main_content .mvote .mvote_num{
    width: 35%;
}

.main .main_content .your .your_num {
    width: 100%;
}

.main .main_content .lock .aqua_button_cotainer,
.main .main_content .lp .lp_button_cotainer,
.main .main_content .mvote .mvote_button_cotainer {
    height: 100%;
    display: inline-block;
    width: 60%;
}

.main .main_content .lock .aqua_button,
.main .main_content .lp .lp_button,
.main .main_content .mvote .mvote_button {
    padding: 5px 10px;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    font-size: 15px;
    width: 70%; 
    text-align: center;
    height: 100%;
    line-height: 100%;
    cursor: pointer;
}

.main .main_content .lock .aqua_button,
.main .main_content .lp .lp_button {
    background-color:rgb(93, 93, 173);
}

.main .main_content .mvote .mvote_button {
    background-color:rgb(52,49,203);
}

.main .main_content .lock .aqua_button:active,
.main .main_content .lp .lp_button:active,
.main .main_content .mvote .mvote_button:active {
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.main .main_content .lock .aqua_button:hover,
.main .main_content .lp .lp_button:hover,
.main .main_content .mvote .mvote_button:hover {
    background-color: rgb(10, 12, 146) !important;
    border: solid 1px black !important;
}

.burn .total_perc,
.reward .total_num {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    height: 100%;
    line-height: 100%;
    margin: 0;
}

.footer {
    width: 100%;
    height: 150px;
    left: 0;
    padding: 0 5%;
}
.footer-distributed{
	background: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 20px 30px;
	overflow: hidden;
    height: 150px;
    display: block;
}

.footer-distributed .footer-container{
	display: block;
}

.footer-distributed .footer-name{
	color:  #898d92;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
    text-align: center;
}

.footer-distributed .footer-icons{
	margin-top: 20px;
    display: block;
    text-align: center;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
    background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

#signupModal, 
#signupModal_public, 
#signupModal_burn {
    display: none;
}

#signupModal.active, 
#signupModal_public.active {
    top: 0;
    min-width:500px;
    min-height:400px;
    width: 40%;
    height: 50%;
    position: fixed;
    border: #000 1px solid;
    transform: translate(75%, 50%);
    display: block;
    transition: 0.5s;
}

#signupModal_burn.active {
    top: 0;
    min-width:500px;
    min-height:500px;
    width: 40%;
    height: 50%;
    position: fixed;
    transform: translate(75%, 30%);
    display: block;
    transition: 0.5s;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    margin: 0;
}

.modal-dialog-burn {
    width: 100%;
    height: 76%;
    vertical-align: middle;
    margin: 0;
    background-color: #fff;
}

.modal .modal-content {
    padding: 20px 20px 40px 20px;
    display: block;
    width: 100%;
    height: 100%;
}

.modal-content .modal-header {
    display: flex;
    padding: 0;
    width: 100%;
    height: 12%;
    justify-content: center;
    align-items: center;
    border: none;
}

.modal-content .modal-public-header {
    display: block;
    padding: 0;
    width: 100%;
    height: 40%;
    border: none;
}

.modal-content .modal-burn-header {
    display: block;
    padding: 0;
    width: 100%;
    height: 8%;
    border: none;
}

.modal-header .myModalLabel {
    display: inline-flex;
    text-align: center;
    font-size: 30px;
    height: 100%;
}

.modal-public-header .myModalLabel {
    display: block;
    text-align: center;
    font-size: 30px;
    height: 70%;
}

.modal-header .modalClose{
    display: inline-flex;
    position: fixed;
    right: 5%;
}

.modal-public-header .modalClose{
    display: block;
    height: 30%;
}

.modal-burn-header .modalClose {
    display: block;
    height: 100%;
}

.modal-public-header .modalClose .close_content{
    display: inline-block;
    position: fixed;
    right: 5%;
}

.modal-burn-header .modalClose .close_content{
    display: inline-block;
    position: fixed;
    right: 5%;
}

.modal-header .close, 
.modal-public-header .close,
.modal-burn-header .close {
    display: block;
    font-size: 40px;
    border: none;
    cursor: pointer;
}

.modal-header .close:hover {
    font-size: 45px;
}

.modal-public-header h2 {
    text-align: left;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 30px;
}

.modal-public-header h5 {
    text-align: left;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 30px;
    color: rgb(48, 45, 45);
}

.inputs {
    display: block;
    align-items: center;
    justify-content: center;
}

.public_inputs {
    display: block;
    align-items: center;
    justify-content: center;
    height: 60%;
    padding-top: 10px;
}

.burn_inputs {
    display: block;
    align-items: center;
    justify-content: center;
    height: 92%;
    margin: 0 20px;
}

#signupModal .wallet_connect, 
#signupModal .stellar_connect, 
#signupModal .key_connect {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    background-color: rgb(226, 210, 210);
    border-radius: 10px;
    height: 75px;
    cursor: pointer;
}

.public_inputs .input_content {
    display: block;
    height: 100%;
}

.burn_inputs .input_content {
    display: block;
    width: 100%;
    height: 100%;
}

.input_content .public_input{
    margin: 0 30px;
    height: 75px;
}

.public_input_value {
    display: block;
    width: 100%;
    height: 75px;
    padding: 0 20px;
    border-radius: 5px;
}

.public_input_value[type="text"]::placeholder {  
    padding-left: -200px; 
} 

.wallet_icon, .stellar_icon, .key_icon {
    display: inline-block;
    margin-left: 40px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 40px;
    color: rgb(30, 30, 30);
}

.inputs .text {
    color: black;
    display: inline-block;
    font-size: 20px;
    padding-left: 30px;
    vertical-align: top;
    padding-top: 25px;
}

.inputs .arrow {
    display: inline-block;
    font-size: 10px;
    right: 50px;
    position: fixed;
    padding-top: 25px;
    color: rgb(30, 30, 30);
}

.input_content .connect_btn {
    display: block;
    height: 60px;
    margin: 40px 30px 0 30px;
}

.input_content .connect_btn .connect_btn_content {
    display: inline-flex;
    float: right;
    height: 60px;
}

#signupModal_public .public_connect_button {
    width: 100%;
    height: 100%;
    display: inline-flex;
    padding:0.7em 1.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    background-color:rgb(52,49,203);
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    font-size: 20px;
    text-align: center;
}
#signupModal_public .public_connect_button:active {
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
#signupModal_public .public_connect_button:hover {
    background-color: rgb(10, 12, 146) !important;
}

.burn_inputs .input_content .input_header {
    display: block;
    width: 100%;
    height: 25%;
}

.burn_inputs .input_header .burn_header_1{
    font-size: 30px;
}

.burn_inputs .input_header .burn_header_2{
    padding-top: 5px;
    font-size: 15px;
    font-weight: 500;
}

.burn_inputs .input_content .input_main {
    display: block;
    width: 100%;
    height: 65%;
    padding-top: 10px;
}

.input_main .amount {
    display: block;
    width: 100%;
    height: 20%;
}

.input_main .amount .amount-header {
    display: block;
    width: 100%;
    height: 100%;
}

.input_main .pair .pair-header {
    display: block;
    width: 100%;
    height: 15%;
}


.amount .amount-header .amount-title {
    display: inline;
    height: 100%;
    line-height: 100%;
    float: left;
}

.amount .amount-header .amount-title-tip {
    display: inline;
    height: 100%;
    line-height: 100%;
    right: 0;
    float: right;
}

.amount-title-tip .title-tip-span {
    display: none;
}

.amount-title-tip .title-tip-span.active{
    display: inline-block;
}

.input_main .pair {
    width: 100%;
    height: 80%;
}

.pair .pair-main {
    width: 100%;
    height: 100%;
}

.pair-header .pair-title{
    display: inline-block;
    width: 100%;
}

.pair .pair-ctn {
    display: flex;
    width: 100%;
    height: 40%;
}

.pair-ctn .pair-ctn-image,
.pair-ctn .pair-ctn-desp,
.pair-ctn .pair-ctn-num {
    display: inline-flex;
    height: 100%;
    line-height: 100%;
}

.pair-ctn .pair-ctn-image {
    width: 15%;
}

.pair-ctn .pair-ctn-desp {
    width: 25%;
}

.pair-ctn .pair-ctn-num {
    display: inline-flex;
    width: 60%;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    align-self: center;

}

.pair-ctn-image .xlm_img {
    display: inline-flex;
    border-radius: 90%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    position: relative;
    width: 50%;
    float: left;
    align-items: center;

}

.pair-ctn-image .mvote_img {
    display: inline-flex;
    border-radius: 50%;
    z-index: 0;
    box-sizing: content-box;
    position: relative;
    left: -5px;
    width: 50%;
    float: left;
    align-items: center;
}

.pair-ctn-desp .pair-curr-content {
    display: inline-flex;
    align-items: center;
}

.pair-ctn-num .pair-input,
.pair-ctn-num .pair-input-close {
    display: inline-flex;
    align-items: center;
}

.pair-ctn-num .pair-input-close {
    padding-left: 10px;
    font-size: 15px;
    cursor: pointer;
}

.pair .balance-tip {
    display: flex;
    width: 100%;
    height: 45%;
    align-items: center;
}

.pair .balance-tip .balance-left {
    float: left;
    text-align: center;
    display: inline-flex;
    font-size: 17px;
    font-weight: 600;
}

.pair .balance-tip .balance-right {
    right: 10%;
    display: inline-flex;
    align-items: center;
    position: fixed;
    float: right;
}

.pair .balance-tip .balance-right .balance-num {
    font-size: 17px;
}

.pair .balance-tip .balance-right .balance-tip-img {
    margin-left: 10px;
}

.burn_inputs .input_content .input_footer {
    display: block;
    width: 100%;
    height: 10%;
}

.burn_inputs .burn-btn-content {
    height: 100%;
    display: flex;
    padding: 0 20%;
    justify-content: center;
}

.burn_inputs .burn-btn-content .burn-btn-main {
    padding: 0 20%;
    display: flex;
    background-color:rgb(61,58,185);
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
}

.burn_inputs .burn-btn-content .burn-btn-main .burn-submit-btn {
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    font-size: 20px;
    display: inline-block;
    width: 100%;
    pointer-events: auto;
}

#signupModal_burn .stellar_copy_link {
    display: none;
}

#signupModal_burn .stellar_copy_link.active {
    display: block;
    width: 100%;
    height: 24%;
    padding: 5px 10px;
    background-color: #fff;
    border: #000 1px solid;
    z-index: 1;
}

#signupModal_burn .stellar_copy_link .copy_link{
    width: 100%;
    height: 100%;
    text-align: center;
}

.copy_link .link-ctn p{
    margin: none;
}

